body {

    size: 100%;
    width: 1440px;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;

}


.flexcontainer {

    display: flex;
    word-wrap: nowrap;

}

.test {

    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500, 600;
}

.Profile-sections img{

    border-style: solid;
    
    border-radius: 50%;
    border-width: 2px;
}