@media(max-width: 650px){

    body{

        margin: 10px;
        padding: 10px;
    }

    .grid-container {

        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-evenly;
        
    }

    .Daniel-Clifford, .Jonathan-Walters, .Jeanette-Harmon, .Patrick-Abrams, .Kira-Whittle{

        width: 380px;
        
    }

    .Daniel-Clifford{

        height: 510px;
    }

    .Jonathan-Walters{

        height: 250px;
    }

    .Jeanette-Harmon{

        height: 250px;
    }

    .Patrick-Abrams{

        height: 510px;
    }

    .Kira-Whittle{

        height: 540px;
    }

    .Profile-sections .names-1, .Profile-sections .names-2{
        
        margin-left: -135px;
        margin-bottom: 15px;
        font-weight: 70;
        font-family: Helvetica;
        margin-top: 10px;
    }

    .Profile-sections .jobs-1, .Profile-sections .jobs-2{

        margin-left: -135px;
        margin-top: 12px;
        font-size: 16px;
        font-weight: 0;
    }

    .Daniel-Clifford .last-sent{
        font-size: 18px;
        line-height: 25px;
    }

    .Jonathan-Walters .last-sent{

        font-size: 18px;
    }

    .Jeanette-Harmon .last-sent{

        font-size: 18px;
    }

    .Patrick-Abrams h4{
        margin-top: 70px;
        font-size: 25px;
    }

    .Patrick-Abrams .last-sent{
        
        font-size: 18px;
        line-height: 25px;
    }

    .Kira-Whittle .spcl-last-sent{
        font-size: 18px;
        line-height: 23px;
        margin-top: 25px;
        font-weight: 0;
    }

}
